@model IEnumerable<ProjetoP2.hotel>

@{
    ViewBag.Title = "Hotéis";
}

<h2>Hotéis</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Nome</p>
        </th>
        <th>
            <p>Tipo</p>
        </th>
        <th>
            <p>Localização</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cidade.nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.id }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
